<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Deuna\Now\Api\PostManagementInterface" type="Deuna\Now\Model\PostManagement"/>
    <type name="Deuna\Now\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Deuna_Now</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Deuna\Now\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
